body {
	min-width: 300px;
	text-align: center;
}

h1 {
	font-size: 1.5em;
	margin-bottom: 0;
}

span {
	text-transform: uppercase;
	color: #111;
	font-size: .9em;
	margin-bottom: 10px;
}

.theme-block {
	width: 20%;
	margin: 2.5%;
	float: left;
	text-transform: capitalize;
	text-align: center;
}

.theme-icon {
	width: 100%;
	font-size: 3em;
	text-align: center;
	font-weight: thin;
	box-shadow: 0 0 0 2px rgba(0,0,0,0.3);
	border-bottom: solid transparent 15px;
}

#theme-cerulean .theme-icon {
	color: rgb(37, 86, 131);
	background-color: white;
}

#theme-cosmo .theme-icon {
	color: rgb(38,38,38);
	background-color: white;
}

#theme-cyborg .theme-icon {
	color: white;
	background-color: rgb(7,7,7);
}