@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,100);
@import url(http://fonts.googleapis.com/css?family=Lato:100,400,700);
@import url(http://fonts.googleapis.com/css?family=News+Cycle:700);
@import url(http://fonts.googleapis.com/css?family=Raleway:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400);

@red: rgb(205,53,0);
@green: #3EB34F;
@orange: #DD4814;

@gray: #F5F5F5;

.material-shadow(@level: 1){
    & when (@level = 1) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    & when (@level = 2) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 3) {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 4) {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    & when (@level = 5) {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}

body {
	min-width: 300px;
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 0;
	padding-top: 40px;
	margin: 0;
}

.hidden {
	display: none;
}

h1 {
	font-size: 1.5em;
	margin-bottom: 0;
}

span {
	text-transform: uppercase;
	color: #111;
	font-size: .9em;
	margin-bottom: 10px;
}

#main {
	padding: 10px;
}

header {
	background: @orange;
	.material-shadow(2);
	z-index: 999;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px;
	
	h1 {
		color: white;
		margin: 0;
		font-weight: 400;
	}
}

#themes {
	clear: both;
	height: 400px;
	.theme-block {
		width: 20%;
		margin: 2.5%;
		float: left;
		text-transform: capitalize;
		text-align: center;
		height: 75px;
		margin-bottom: 15px;
	
		.theme-icon {
			cursor: pointer;
			width: 100%;
			font-size: 3em;
			text-align: center;
			font-weight: thin;
			box-shadow: 0 0 0 2px rgba(0,0,0,0.3);
			border-bottom: solid transparent 15px;
			line-height: 50px;
			margin-bottom: 3px;
			
			&.active {
				box-shadow: 0 0 0 2px rgba(0,0,0,0.7);
			}
			
		}
	}
}

.button {
	text-align: center;
	color: white;
	width: 97%;
	padding: 5px;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	text-decoration: none;
	&:not(.hidden) { display: block; }
	margin-bottom: 10px;
	.material-shadow(1);
	transition: all .2s ease-out;
	
	&.button-green {
		background-color: @green;
	}
	
	&.button-red {
		background-color: @red;
	}
	
	&:hover {
		.material-shadow(2);
	}
}



#no-bootstrap {
	strong {
		display: block;
		background: @red;
		color: white;
		font-weight: 100;
		font-size: 1.2em;
		padding: 5px;
		text-align: center;
	}
	
	background: @gray;
	margin-top:15px;
	
	#no-bs-bottom {
		border: solid 1px darken(@gray, 10%);
		border-top: none;
		padding: 5px;
		font-size: 1.1em;
		text-align: left;
		
		div {
			text-align: right;
			margin-bottom: 5px;
			margin-top: 10px;
			.button {
				display: inline;
				font-size: .9em;
			}
			
		}
		
	}
}

#download {
	margin-bottom: 0;
}


.theme-setup(@name, @text-color, @background-color, @accent-color, @font:~'"Helvetica Neue",Helvetica,Arial,sans-serif', @rules:{}) {
	#themes #theme-@{name} .theme-icon {
		color: @text-color;
		background-color: @background-color;
		border-bottom-color: @accent-color;
		font-family: @font;
		@rules();
	}
}

.theme-setup(cerulean, rgb(44,104,160), white, rgb(73,159,236), @rules:{font-weight: bold});
.theme-setup(cosmo, rgb(38,38,38), white, rgb(37,101,229), ~'"Source Sans Pro",Calibri,Candara,Arial,sans-serif', {font-weight: 100});
.theme-setup(cyborg, white, rgb(7,7,7), rgb(45,138,210), ~'"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif');
.theme-setup(darkly, white, rgb(26,26,26), rgb(44,70,111), ~'"Lato","Helvetica Neue",Helvetica,Arial,sans-serif');
.theme-setup(flatly, rgb(34,46,64), white, rgb(34,46,64), ~'"Lato","Helvetica Neue",Helvetica,Arial,sans-serif');
.theme-setup(journal, black, white, rgb(222,82,79), ~'"News Cycle","Arial Narrow Bold",sans-serif');
.theme-setup(lumen, rgb(43,43,43), white, rgb(32,119,177), ~'"Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif');
.theme-setup(paper, rgb(52,52,52), white, rgb(38,125,249), ~'"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif');
.theme-setup(readable, rgb(38,38,38), white, rgb(23,67,234), ~'"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif', {font-weight:700});
.theme-setup(sandstone, rgb(47,48,44), white, rgb(41,72,121), ~'"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif');
.theme-setup(simplex, rgb(52,52,52), rgb(251,251,251), rgb(191,18,0), ~'"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif');
.theme-setup(slate, rgb(188,188,188), rgb(29,32,36), rgb(119,125,132));
.theme-setup(spacelab, rgb(34,34,34), white, rgb(53,83,134), ~'"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif');
.theme-setup(superhero, rgb(230,230,230), rgb(33,46,64), rgb(208,86,0), ~'"Lato","Helvetica Neue",Helvetica,Arial,sans-serif');
.theme-setup(united, rgb(38,38,38), white, rgb(205,53,0), ~'"Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif');
.theme-setup(yeti, rgb(26,26,26), white, rgb(27,119,177), ~'"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif');
